{% extends 'core/Slide.html' %}

{% load static %}

{% block custom_css %}
  <link href="{% static 'css/control.css' %}" rel="stylesheet" />
{% endblock %}
{% block main_content %}

  <section class="container">
    <div class="flex-column-red">
      <div class="flex-row-content p-1">
        <!-- Sección de Información: Gráfico de Barras -->
        <div class="flex-row-dashboard fill-available">
          <div class="flex-column-gap fill-available">
            <div class="info-box p-1 fill-available">
              <h3>Gráfico de Solicitudes y Trabajos Interno</h3>
              <!-- Botón para cambiar entre gráficos -->
              <button id="toggleChart" class="btn btn-primary">Ver Gráfico Porcentual</button>

              <!-- Espacio para el gráfico -->
              <canvas id="puntajePorProfesionalChart"></canvas>

            </div>
          </div>
        </div>
        

        <!-- Sección de Dashboard -->
        <div class="flex-row-dashboard">
          <!-- Parte Superior del Dashboard -->
          <div class="dashboard-top">
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-1 p-1 h-full" style="flex-direction: row; gap: 1rem;">
                <h3>Total de Solicitudes</h3>
                <p class="counter" data-target="{{ total_solicitudes }}">0</p>
              </div>
            </div>
          </div>

          <!-- Parte Media del Dashboard: Solicitudes en Proceso, Ejecutadas y Rechazadas -->
          <div class="dashboard-middle fill-available">
            <!-- Solicitudes en Proceso -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-3 h-full">
                <h3>En Proceso</h3>
                <p class="counter" data-target="{{ en_proceso }}">0</p>
              </div>
            </div>

            <!-- Solicitudes Ejecutadas -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-4 h-full">
                <h3>Ejecutadas</h3>
                <p class="counter" data-target="{{ ejecutado }}">0</p>
              </div>
            </div>

            <!-- Solicitudes Rechazadas -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-5 h-full">
                <h3>Rechazadas</h3>
                <p class="counter" data-target="{{ rechazado }}">0</p>
              </div>
            </div>
          </div>

          <!-- Parte Inferior del Dashboard: Promedio de Carga de Trabajo -->
          
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <!-- Incluir Chart.js desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Definir las variables necesarias para el gráfico de barras -->
  <script>
    var labels = {{ labels_json|safe }};
    var trabajo_propio = {{ total_unitario_solicitudes_json|safe }};
    var trabajo_apoyo = {{ total_unitario_solicitudes_apoyo_json|safe }};
    var total_tareas = {{ total_tareas_json|safe }};
    var total_apoyo_tareas = {{ total_apoyos_tareas_json|safe }};

    var trabajo_porcentual_propio = {{ trabajo_porcentual_propio_json|safe }};
    var trabajo_porcentual_apoyo = {{ trabajo_porcentual_apoyo_json|safe }};

</script>





  <!-- Incluir el script externo de control.js -->
  <script src="{% static 'js/control_v1.js' %}"></script>
{% endblock %}
