{% extends 'core/Slide.html' %}

{% load static %}

{% block main_content%}

{% block custom_css %}


{% endblock custom_css %}


<style>
.acciones {
    fill: #2f86eb !important;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: fill 0.2s;
}
.acciones:hover {
    fill: #0f52a9 !important;
}


table {
    width: 100%;
    border-collapse: collapse !important;
    margin: 20px 0 !important;
    font-size: 14px !important;
    text-align: left !important;
    border: 1px solid #ddd !important;
    table-layout: fixed !important; /* Hace que los th definan el ancho de la columna */
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd !important;
    text-align: center !important;
    word-wrap: break-word !important; /* Permite saltos de línea */
    white-space: normal !important; /* Hace que el texto se ajuste dentro del ancho */
    overflow-wrap: break-word !important;
}

th {
    background-color: #0f52a9;
    font-weight: bold !important; 
    text-align: center !important;
    color: white;
}


/* Ajustar el ancho de los encabezados para que controlen sus columnas */

/* Alternar colores en filas */
tr:nth-child(even) {
    background-color: #f9f9f9 !important;
}

.pagination-container {
    display: flex !important;
    justify-content: center !important;
    gap: 5px !important;
}

.pagination-container .page-link {
    background-color: #f8f9fa !important;
    border: 1px solid #dee2e6 !important;
    padding: 5px 10px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

.pagination-container .page-link:hover {
    background-color: #1a5da4 !important;
    color: white !important;
}

.pagination-container .page-link.active {
    background-color: #1a5da4 !important;
    color: white !important;
    font-weight: bold !important;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=text_snippet" />


<link href="/static/css/proyectos.css" rel="stylesheet" />



<section class="d-flex justify-content-center">
    <div class="row">
        <div class="col" style="display: flex;justify-content: center;flex-wrap: wrap;">
            <div class="container_new">
                {% if request.user.is_superuser %}

                <div class="container" style="margin: 1rem; width: auto;">
                    <div class="wrapper">
                        <a class="enviado" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="dropdown-item" href="#">
                            <i class="fa-solid fa-file-lines"></i>
                        </a>
                    </div>
                </div>
                {% endif %}           
            </div>

               <div class="container-fluid mt-4" style="display: flex;max-width: 95%;justify-content: center;">
                 <table id="tabla_registro" class=" " >
                    <thead class="">
                        <tr>
                        <th>Id de la solicitud</th>
                        <th>Orden Trabajo</th>
                        <th>Solicitante</th>
                        <th>Fecha de llegada</th>
                        <th>Departamento</th>
                        <th>Acciones</th>
                        <th>Estado</th>
                        <th>Carga de trabajo</th>
                        <th>profesional SIG</th>
                        <th>Fecha Designio</th>
                        <th>Fecha Enviado</th>
                        <th>Dias Hábiles</th>

                        </tr>
                    </thead>
                </table>
            </div>

           
            <div class="toast-container position-fixed top-0 end-0 p-3">
                <div id="liveToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            📌 La tabla ha sido actualizada
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>



        {% block content %}
        <!-- tu tabla, botones, etc. -->

        {% include 'modal/modal.html' %}
        {% endblock %}


    
</section>
{% endblock %}

{% block custom_js %}

<script>
    var csrf_token = "{{ csrf_token }}";  // Pasar el CSRF Token a JS
</script>


<script src="/static/js/tablaRegistro.js"></script>




{% endblock %}