{% block modal_conte%}

   <div class="modal fade" id="registroPreviewModal" tabindex="-1" aria-labelledby="registroPreviewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #707eff;">
                    <h5 class="modal-title" id="registroPreviewModalLabel">Vista previa de registros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="registroPreviewData"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="Nueva_fecha_Designio" tabindex="-1" role="dialog"
        aria-labelledby="Nueva_fecha_DesignioLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Nueva_fecha_DesignioLabel">Designación de Dias hábiles</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="fechaNueva">Seleccione la nueva fecha y hora:</label>
                    <input type="datetime-local" id="fechaNueva" class="form-control">
                    <div id="errorFecha" class="text-danger mt-2" style="display: none;">La fecha seleccionada no puede
                        ser un sábado o domingo.</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="guardarFecha">Guardar Nueva Fecha</button>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar apoyos al protocolo -->
    <div class="modal fade" id="apoyoModal" tabindex="-1" aria-labelledby="apoyoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="apoyoModalLabel">Agregar Apoyos al Protocolo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p><strong>Protocolo ID:</strong> <span id="protocoloId"></span></p>
            <p><strong>Profesional Responsable:</strong> <span id="profesionalActual"></span></p>
            <p>Selecciona los usuarios que deseas agregar como apoyo:</p>
            <div id="listaApoyos">
                <!-- Aquí se insertarán dinámicamente los checkboxes de usuarios -->
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="guardarApoyo">Guardar</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal para agregar apoyos al protocolo -->
    <div class="modal fade" id="notaModal" tabindex="-1" aria-labelledby="notaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notaModalLabel">Peso del Protocolo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Protocolo ID:</strong> <span id="protocoloId_modal"></span></p>
                    <p><strong>Profesional Responsable:</strong> <span id="profesionalActual_modal"></span></p>
    
                    <!-- Control del porcentaje TOTAL -->
                    <p><strong>Distribución de Trabajo</strong></p>
                    <div class="d-flex align-items-center">
                        <input type="range" id="porcentajeSliderTotal" min="0" max="100" step="5" value="100" class="form-range">
                        <input type="number" id="porcentajeInputTotal" min="0" max="100" step="5" value="100" class="form-control mx-2" style="width: 80px;">
                    </div>
    
                    <!-- Sección de distribución si hay apoyo (Oculta por defecto) -->
                    <div id="distribucionSection" style="display: none;">
                        <p><strong>Profesional</strong></p>
                        <div class="d-flex align-items-center">
                            <input type="range" id="porcentajeSliderProfesional" min="0" max="100" step="5" value="100" class="form-range">
                            <input type="number" id="porcentajeInputProfesional" min="0" max="100" step="5" value="100" class="form-control mx-2" style="width: 80px;">
                        </div>
    
                        <p><strong>Apoyo(s)</strong></p>
                        <div class="d-flex align-items-center">
                            <input type="range" id="porcentajeSliderApoyo" min="0" max="100" step="5" value="100" class="form-range">
                            <input type="number" id="porcentajeInputApoyo" min="0" max="100" step="5" value="100" class="form-control mx-2" style="width: 80px;">
                        </div>
    
                        <!-- Nombres de los apoyos -->
                        <p><strong>Lista de Apoyos</strong></p>
                        <ul id="listaApoyos" style="padding-left: 20px;"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="GuardarNota">Guardar</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #707eff;">
                    <h5 class="modal-title" id="previewModalLabel">Vista previa de solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <p id="previewData"></p>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal Dinámico de ENVIAR AL CORREO -->
    <div class="modal fade" id="dynamicEmailModal" tabindex="-1" aria-labelledby="dynamicEmailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dynamicEmailModalLabel">Enviar Correo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="dynamicEmailForm">
                        <!-- Campo para agregar correos -->

                        <div class="mb-3">
                            <label for="emailInput" class="form-label">1. Destinatario</label>
                            <ul id="destinatarioList" class="list-group mb-3">
                                <!-- Aquí se mostrará dinámicamente el destinatario -->
                            </ul>
                        </div>


                        <div class="mb-3">
                            <label for="emailInput" class="form-label">2. Agregar en copia</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Ingresa un correo">
                        </div>
                        
                        <textarea class="form-control" id="messageText" rows="5" placeholder="Escribe tu mensaje aquí">{% if request.user.is_superuser %}Estimado,
                        Por favor, proceda con la solicitud según corresponda.
                        Agradezco su atención.
                        Atte.{% else %}Estimado Solicitante,
                        Atte.{% endif %}
                        </textarea>



                        <!-- Campo para adjuntar archivos -->
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">4. Adjuntar el o los archivos(10 mb se adjuntar
                                normalmente, 300mb sera exportado a link. )</label>
                            <input type="file" class="form-control" id="fileInput" multiple>
                        </div>

                        <!-- Lista de archivos adjuntados -->
                        <ul id="fileList" class="list-group mb-3"></ul>
                    </form>
                </div>
                <br>
                <div id="loadingSpinner" class="text-center mb-3" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Enviando...</span>
                    </div>
                    <p>Enviando datos, por favor espera...</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="sendData()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Bootstrap para el motivo del cambio -->
    <div class="modal fade" id="registro_De_Designio" tabindex="-1" role="dialog"
        aria-labelledby="registro_De_DesignioLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registro_De_DesignioLabel">Motivo del cambio de profesional</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <form id="motivoCambioForm">
                        <div class="form-group">
                            <label for="motivo">Motivo del cambio</label>
                            <textarea class="form-control" id="motivo" name="motivo" rows="3" required></textarea>
                        </div>
                        <input type="hidden" id="nuevo_profesional_id" name="nuevo_profesional_id">
                        <input type="hidden" id="solicitud_id" name="solicitud_id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="guardarMotivo">Guardar motivo</button>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}

